<h1 class= title><%= render partial: "shared/homeicon"%>Login</h1>
<%=flash[:error]%>
<br>
<br>
<div class= box-center>
<%=form_for :shopper, url: "/shoppers_login" do |f|%>
<%=f.label :username%>
<br>
<%=f.text_field :username%>
<br>
<br>
<%=f.label :password%>
<br>
<%=f.password_field :password%>
<br>
<br>
<%=f.submit "login"%>
<%end%>
<br>
<em>would you like to volunteer to be a <b><u><%=link_to "new shopper", new_shopper_path%></u></b>?</em>
<br>
<br>
<em>if you are a customer please click <b><u><%=link_to "here", login_path%></u></b></em>
</div>