<h2 class=title ><%= render partial: "shared/homeicon"%>Welcome to BuyStuff</h2>

<div class= container-fluid>

    <ul id = home_links_s>

        <li><%=link_to("shopper", shopper_path(@shopper), class: "btn")%></li>
        <li><%=link_to("items", items_path, class: "btn")%></li>
        <li><%=link_to("orders", orders_path, class: "btn")%></li>
        <li><%=link_to("logout", shopper_logout_path, class: "btn")%></li>
        
    </ul>

</div>