<h1 class= title><%= render partial: "shared/homeicon"%>Login</h1>
<%=flash[:error]%>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FRxII8uYlGo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<div class= box-center>
<%=form_for :customer, url: "/login" do |f|%>
<%=f.label :username%>
<br>
<%=f.text_field :username%>
<br>
<br>
<%=f.label :password%>
<br>
<%=f.password_field :password%>
<br>
<br>
<%=f.submit "login"%>
<%end%>
<br>
<em><%=link_to "new customer?", new_customer_path%></em>
<br>
<br>
<em>if you are a shopper or want to volunteer please click <%=link_to "here", shopper_login_path%></em>
</div>
