<h1 class=title><%= render partial: "shared/homeicon"%>Register as a Customer</h1>
<div class = box-left>
<br>
<% @customer.errors.full_messages.each do |e|%>
    <p><%= e %></p>
<%end%>
<br>
<%= form_for @customer do |f| %>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name%>
    <br>
    <br>
    <%= f.label :address%>
    <br>
    <%= f.text_area :address%>
    <br>
    <br>
    <%= f.label :username%>
    <br>
    <%= f.text_field :username%>
    <br>
    <br>
    <%= f.label :password%>
    <br>
    <%= f.password_field :password%>
    <br>
    <%= f.submit "Register now"%>
<%end%>
</div>