<h1 class=title><%= render partial: "shared/homeicon"%>Register as a Customer</h1>
<div class = container-fluid id = new_customer_body>

    <div class = container-fluid id = new_customer_err>  
        <% @customer.errors.full_messages.each do |e|%>
            <p id = customer_form_err><%= e %></p>
            
        <%end%>
    </div>

    <div class = container-fluid id = new_customer_form>  
        <%= form_for @customer, :html => {:class => 'form_horizontal'} do |f| %>
            <%= f.label :name, class: "login_label_c"%>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter name"%>
            <%= f.label :address, class: "login_label_c"%>
            <%= f.text_area :address, class: "form-control", placeholder: "Enter address"%>
            <%= f.label :username, class: "login_label_c"%>
            <%= f.text_field :username, class: "form-control", placeholder: "Enter username"%>
            <%= f.label :password, class: "login_label_c"%>
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password"%>
            <%= f.submit "Register now", class:"btn btn-default", id:"submit_customer"%>
        <%end%>
    </div>
</div>