<h1 class= title><%= render partial: "shared/homeicon"%><%=@customer.name%></h1>
<div class= box-left>
<p><%= @customer.address %></p>

<%if !@customer.orders.empty?%>
    <div>latest_order: </div>
    <ol>
    <%@customer.orders.last.items.each do |item|%>
        <li><%=item.name%></li>
    <%end%>
    </ol>
    order status: <%=@customer.orders.last.status%>
<%end%>

<br>
<br>

<%= link_to "Edit Customer", edit_customer_path%>
<br>
<br>
<%= link_to "Delete Customer", customer_path(@customer), method: "delete"%>
<br>
<br>
<%= link_to "Return to Index", welcome_path%>
<br>
<br>
<%= link_to "Create an order", new_order_path%>
</div>