<h1 class = title><%= render partial: "shared/homeicon"%><%=@order.name%></h1>
<div class = container-fluid id = order_show_content>
    <div class = container-fluid id = order_box>
        <h5 id = order_box_title>Order Information:</h5>

        <p class = total_weight>Total Weight: <%=@order.items.sum {|i| i.weight}%></p>
        <h6 id = items_list_header>List:</h6>

        <div class = container-fluid id = order_list_items>
            <ul class = list-inline id = order_list_items_ul>
                <%@order.items.each do |item|%>
                    <li><%=link_to item.name, item_path(item)%></li>
                <%end%>
            </ul>
        </div>

        <p class = text >Customer Information:<p>
        <div class = container-fluid id = customer_info>
            <p class = text>Name: <%=@order.customer.name%></p>
            <p  class = text id = order_show_address>Address: <%=@order.customer.address%></p>
        </div>

    </div>
    <%if !@order.shopper%>
        <%=link_to("Add to Pickup List", shopper_pickup_path(@order), class: "btn", id: "Add_to_btn", method: "post" )%>
    <%end%>
    <%=link_to("Back to Index", shopper_welcome_path, class: "btn", id: "to_index_btn")%>
<div>
