<h2 class=title ><%= render partial: "shared/homeicon"%>Welcome to BuyStuff</h2>
<br>
<br>
<div class= box-center>
<%=link_to("Customer", customer_path(session[:current_user]))%>
<br>
<br>
<%=link_to("shopper", shoppers_path)%>
<br>
<br>
<%=link_to("items", items_path)%>
<br>
<br>
<%=link_to("orders", orders_path)%>
<br>
<br>
<%=link_to("order_items", order_items_path)%>
<br>
<br>
<%=link_to("logout", logout_path)%>
</div>